.form-container: {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

timer span {
    font-size:   10vw;
    font-family: "Digital7", "Lucida Console", sans-serif;
    margin-left: 29vw;
}

form {
    display: table;
    margin: 0 auto;
}

body {
    color: white;
    background-color: #2980b9;
}

img {
    display: table;
    margin: 30px auto;
    width: 15vw;
}

input[type="number"] {
    margin: 10px;
    border-radius: 50%;
    padding: 5px 5px;
    width: 5vw;
    height: 5vw;
    color: black;
    font-size: 14pt;
}

#btn-container {
    display: table;
    margin: 20px auto;
}

@font-face {
    font-family: Digital7;
    src: url(../fonts/digital-7.ttf);
}