<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WebCamp Timer</title>
	
	<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="./css/main.css">

	<script src="./bower_components/angular/angular.js"></script>
	<script src="./bower_components/momentjs/min/moment.min.js"></script>
	<script src="./bower_components/momentjs/min/locales.min.js"></script>
	<script src="./bower_components/humanize-duration/humanize-duration.js"></script>
	<script src="./bower_components/angular-timer/dist/angular-timer.min.js"></script>
	<script src="./js/main.js"></script>
	<script src="./bower_components/jquery/dist/jquery.min.js"></script>
	<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body ng-app="WebcampTimerApp" ng-controller="WebcampTimerController">
	<img src="./img/gaplabs.svg" alt="">

	<div class="timer">
		<timer autostart="false" id="main-timer" countdown="count" interval="1">
			{{ countdown | hours }}:{{ countdown | minutes }}:{{ countdown | seconds }}:{{ countdown | millis }}
		</timer>
	</div>

	<form action="" class="real-form">
	
	    <input type="number" min="0" max="59" ng-model="hours" placeholder="hh">
	
	    <input type="number" min="0" max="59" ng-model="minutes" placeholder="mm">
	
		<input type="number" min="0" max="59" ng-model="seconds" placeholder="ss">

	    <div id="btn-container">
	    	<button class="btn btn-success" ng-click="start($event)">Start</button>
	    	<button class="btn btn-danger" ng-click="stop($event)">Stop</button>
	    </div>
	</form>

</body>
</html>